header {
    background-color: black;
}

.slider-div{
    display: inline-flex;
}
.slider {
    width: 400px;
    height: 200px;
    margin: 1px;
}
.paragraf{
    font-size: 10px;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
}